@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-green: #24bb13;
  --bg-navbar: rgb(255, 0, 0);

  --color-black: #494848;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-white);
  color: var(--color-black);
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
  text-align: left;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex; 
  flex-direction: column; 
}

p{
  font-size: 14px;
  font-weight: 400;
}

.img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; 
    p{
      font-size: 12px;
    }
    
  }
}
